# ==========================================
# BUILD OUTPUT & FRAMEWORKS
# ==========================================
dist/
build/
out/
.astro/
.next/
.nuxt/

# ==========================================
# DEPENDENCIES
# ==========================================
node_modules/
.pnp
.pnp.js

# ==========================================
# LOGS & DEBUG
# ==========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs/
*.log

# ==========================================
# ENVIRONMENT VARIABLES & SECRETS
# ==========================================
.env
.env.production
.env.local
.env.development
.env.test
*.pem
*.key

# ==========================================
# OS SPECIFIC FILES
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ==========================================
# IDEs & EDITORS
# ==========================================
.idea/
.vscode/*
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
